//@import "icon.styl"
*
	margin:0
	padding:0
ul
	list-style-type:none
bg-img($url)
	background-image:$url
.clearfix
	display:inline-block
	:after
		content:'.'
		height:0
		line-height:0
		clear:both
		visibility:hidden

